
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;
  --clr-green: #404A3D;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--clr-light);
  
  }
  
  /* dark theme */
  .dark-theme-variables {
    --clr-color-background: #181a1e;
    --clr-white: #202528;
    --clr-light: rgba(0, 0, 0, 0.4);
    --clr-dark: #edeffd;
    --clr-dark-variant: #677483;
    --box-shadow: 0 2rem 3rem var(--clr-light);
    --clr-green: #7380ec;
  }

body{
font-family: "Poppins",sans-serif;
width: 100vw;
height: 100vh;
font-size: 0.88rem;
user-select: none;
overflow-x: hidden;
background: var(--clr-color-background);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
    appearance: none;
}

.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

a{
    color: var(--clr-dark);
}
h1{
font-weight: 800;
font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8;
}
h5{
    font-size: 0.77rem;
}
/* From Uiverse.io by Madflows */ 
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  aside .logo{

        display: flex;
        gap: 1rem;
    
    font-family:"Libre Baskerville",serif;
    font-size:2.3em;
    font-weight:700;
    line-height:1.2;
    color:var(--clr-green);
}
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  
small{
    color: var(--clr-dark);
    font-size: 0.75rem;
}
.profile-photo img{
    width:2.8rem ;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--clr-info-dark);
}
p{
    color: var(--clr-dark-variant);
}
b{
   color: var(--clr-dark); 
}
.primary{
    color: var(--clr-primary);
}
.success{
    color: var(--clr-success);
}
.danger{
    color: var(--clr-danger);
}
.warning{
    color: var(--clr-warnig);
}

/* ASIDE TAG  */
aside{
    height: 100vh;
}
aside .top{
    background-color:var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .top div.close{
    display: none;
}
/* SIDEBAR */
aside .sidebar{
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
}
aside h3{
    font-weight: 400;
}
aside .sidebar a{
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all .1s ease-in ;

}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active{
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
    /* border-left: 5px solid var(--clr-primary); */
}
aside .sidebar a.active::before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--clr-primary);
}
aside .sidebar a:hover{
    color: var(--clr-primary);
    transition: .4s ease;

}
aside .sidebar a:hover span{
    margin-left: 1rem;
}
aside .sidebar a span.msg_count{
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 4px 6px;
    font-size: 13px;
    border-radius:var(--border-radius-2);
}

/* MAIN start */
main{
    margin-top: 1.4rem;
    width: auto;
}
main input{
   background: transparent;
   border: 0;
   outline: 0;
   color: var(--clr-dark); 
}
main .date{
    display: inline-block;
    background-color: var(--clr-white);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .insights{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.6rem;
}
main .insights>div{
    background-color: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow
    );
    transition: all .3s ease;

}
main .insights>div:hover{
box-shadow:none;
}
main .insights>div span{
    background: coral;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--clr-white);
    font-size: 2rem;
}
main .insights>div.expenses span{
    background: var(--clr-danger);
}
main .insights>div.income span{
    background: var(--clr-success);
}
main .insights >div .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .insights >div .middle h1{
    font-size: 1.6rem;
}
main h1{
    color: var(--clr-dark);
}
main .insights h1{
    color: var(--clr-dark);
}
main .insights h3{
    color: var(--clr-dark);
}
main .insights p{
    color: var(--clr-dark);

}
 main .insights .progress{
    position: relative;
    height: 68px;
    width: 68px;
    border-radius: 50px;
} 
main .insights svg{
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
}
main .insights svg circle{
    fill: none;
    stroke:var(--clr-primary);
    transform: rotate(270,80,80);
    stroke-width: 5;
}
main .insights .sales svg circle{
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}
main .insights .expenses svg circle{
    stroke-dashoffset: 10;
    stroke-dasharray: 150;
}
main .insights .income svg circle{
    stroke: var(--clr-success);
}
main .insights .progress .number{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-dark);
}
main .recent_orders{
    margin-top: 2rem;
}
main .recent_orders h2{
    color: var(--clr-dark);
}
main .recent_orders table{
    background-color: var(--clr-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    color:var(--clr-dark);
}
main .recent_orders table :hover{
    box-shadow: none;
}
main table tbody tr{
    height: 3.8rem;
    border-bottom: 1px solid var(--clr-white);
    color: var(--clr-dark-variant);
}
main table tbody td{
    height: 3.8rem;
border-bottom:1px solid var(--clr-dark);

}
main table tbody tr:last-child td{
   border:none;
}
main .recent_orders a{
    text-align: center;
    display: block;
    margin:1rem;
}
/* RIGHT  */
.right
{
    margin-top: 1.4rem;
}
.right h2{
    color: var(--clr-dark);
}
.right .top{
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .theme-toggler{
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
    font-size: 1.2rem;
width: 50%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.right .theme-toggler span.active
{
    background-color: var(--clr-primary);
    color: #fff;

}
.right .top .profile
{
    display:flex;
    gap: 2rem;
    text-align: center;

}
.right .info h3{
color:var(--clr-dark);

}
.right .item h3{
    color:var(--clr-dark);
    
    }
    /* recent updates */
.right .recent_updates{
    margin-top: 1rem;
    margin-left: -20px;
}
.right .recent_updates .updates
{
background-color: var(white);
padding: var(--card-padding);
border-radius: var(--border-radius-1);
box-shadow: var(--box-shadow);
transition: all .3s ease;
}
.right .recent_updates .updates:hover{
    box-shadow: none;
}
.right .recent_updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
/* media queries */
@media  screen and (max-width:1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 14rem;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a:last-child
    {
        position: relative;
        margin-top: 1.8rem;
    }
    main .insights{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and(max-width :760px){
    .container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    aside{
        position: fixed;
        width:18rem;
        z-index:3;
        background: var(--clr-white);
        animation: menuA 1s forwards;
    }
    @keyframes menuA {
        to{
            left: 0;
        }
    }
    aside .logo h2{
        display: inline;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    aside .top .close span{
        display: inline;
        position: absolute;
        right: 0;
        margin-left: 30px;
        font-size: 35px;
    }
}